body{
    background-image: linear-gradient(to right, rgb(51, 44, 44), rgba(37, 33, 33, 0.644));
}

h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-weight: normal;
    
}

p{
    color: white;
    text-align: justify;
    font-weight: normal;
    font-size: 1.6em;
}

img p{
    margin: auto;
}

    

footer{
    color: blueviolet;
    text-align: center;
}

div{
    display: inline-block;
    color: white;
}